* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
  }
  
  h1 {
    font-size: 22px;
    font-weight: 500;
    color: #1f2d3d;
    line-height: 1.4545454545;
  }
  
  span {
    font-size: 14px;
    font-weight: 400;
    color: #7d858f;
    line-height: 1.5;
  }
  
  strong {
    font-size: 22px;
    color: #2860e1;
    line-height: 1.0909090909;
  }
  
  strong span {
    font-size: 16px;
    font-weight: 400;
    color: #525d69;
    line-height: 1.5;
  }
  
  button {
    display: block;
    width: 28px;
    height: 28px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
  }
  
  #prev {
    background-image: url(./assets/icon-backward.svg);
  }
  
  #next {
    background-image: url(./assets/icon-forward.svg);
  }
  
  /* ▼ WHERE YOUR CODE BEGINS */

  .card {
      width: 400px;
  }

  .card-carousel img {
      /* img는 inline 요소지만 자체적으로 width를 먹일 수 있기 때문에
      명시적으로 display를 준다. */
        display: block;  
    /* 부모의 width에 맞춰 100%를 먹는다 */

      width: 100%;
      height: auto;
  }

  .card-carousel {
      background-color: #000;
      position: relative;
  }

  #prev,
  #next {
      /* top:50%는 box의 꼭지점으로부터 50%이기때문에 조금 밑으로 쳐져보인다 */
      top: 50%;
      position: absolute; 
      transform: translateY(-50%); 
      /* 가운데로맞출때 이렇게 한다. */
  }

  #prev {
      left: 0;
  }

  #next {
      right: 0;
  }


  .card-content {
    padding: 12px 16px;

  }
  .card-content h1 {
      margin-bottom: 2px;
  }

  .card-content strong {
      display: block;
      margin-top: 8px;
      text-align: right;
  }